h1 {
    color: rgb(4, 9, 249);
    text-align: center;
}

h3 {
    color: rgb(4, 9, 249);
}

h2 {
    color: rgb(3, 124, 146);
    text-align: center;
}

td
{
    border: 1px solid black;
    padding: 15px;
    align: center;
}

th
{
    border: 1px solid black;
    padding: 15px; 
}

u {
    color: rgb(15, 2, 101);
  }

p2
{
    color: rgb(255, 3, 3);
}

.centrage {text-align: center;}